@import url("http://fonts.googleapis.com/css?family=Montserrat");
@import url("http://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css");
/* line 17, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 11, ../sass/main.sass */
html, body {
  position: absolute;
  width: 100%;
  height: 100%;
}

/* line 16, ../sass/main.sass */
#canvas-wrap {
  position: absolute;
  width: 100%;
  height: 100%;
}

/* line 21, ../sass/main.sass */
.blurred {
  position: absolute;
  -webkit-filter: blur(10px);
  width: 100%;
  height: 100%;
  z-index: -1;
}

/* line 28, ../sass/main.sass */
.textbox-wrap {
  position: absolute;
  bottom: 0;
  width: 60%;
  height: 100%;
  right: 0;
  box-sizing: border-box;
  text-align: center;
  overflow: hidden;
  z-index: 1;
}
/* line 39, ../sass/main.sass */
.textbox-wrap .textbox {
  height: 100%;
  background: rgba(194, 180, 154, 0.25);
  padding: 6em 4em;
  font-family: "Montserrat", sans-serif;
}
/* line 45, ../sass/main.sass */
.textbox-wrap .textbox h1 {
  color: white;
  font-size: 24pt;
}
/* line 49, ../sass/main.sass */
.textbox-wrap .textbox h1.fa.fa-map-marker {
  font-size: 48pt;
  padding: 0.25em;
}
/* line 53, ../sass/main.sass */
.textbox-wrap .textbox h1.fa.fa-times {
  position: absolute;
  top: 1em;
  left: 1em;
  cursor: pointer;
}
/* line 59, ../sass/main.sass */
.textbox-wrap .textbox p {
  font-size: 12pt;
  line-height: 2em;
  padding: 1.5em;
  color: white;
}

/* line 66, ../sass/main.sass */
.social-links a {
  color: white;
  font-size: 24pt;
  padding: 0.5em;
  text-decoration: none;
}
